.blog_section {
    width: 100%;
    float: left;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #eaebe7;
    font-weight: 800;
}

.blog_section_2 {
    width: 100%;
    float: left;
    background-image: url(./assets/about-bg.png);
    height: auto;
    padding: 20px 0px 70px 0pc;
    background-size: 100%;
    background-repeat: no-repeat;
}

.blog_taital_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #f8f8f8;
    font-weight: bold;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f8f8f8;
    margin: 15px 0px 0px 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    padding-top: 30px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fcfcfd;
    background-color: #8eb50b;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_btn a:hover {
    color: #fcfcfd;
    background-color: #ff9800;
}

.blog_img img {
    width: 100%;
    margin-bottom: 20px;
}