.copyright_section {
    width: 100%;
    float: left;
    background-color: #8eb50b;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #fefefd;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}