.service_section {
    width: 100%;
    float: left;
    padding-top: 0px;
}

.service_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #fefbfb;
    font-weight: 800;
    text-align: center;
}

.service_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.service_box {
    width: 100%;
    height: auto;
    border: 1px solid #ffffff;
    margin-top: 20px;
}

.breakfast_img {
    width: 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    min-height: 138px;
    align-items: center;
    justify-content: center;
}

.breakfast_text {
    width: 100%;
    font-size: 26px;
    color: #fcfcfd;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 10px;
}

.seemore_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefbfb;
    background-color: #8eb50b;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.seemore_bt a:hover {
    color: #fefbfb;
    background-color: #ff9800;
}

.readmore_bt.active a {
    color: #fcfcfd;
    background-color: #f9b116;
}