.testimonial_section {
    width: 100%;
    float: left;
    padding-bottom: 180px;
}

.testimonial_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.testimonial_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.customer_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #8eb50b;
}

.many_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ffffff;
}

.quick_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: -60px;
    right: 0px;
    top: 130%;
    background-color: #8eb50b;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    position: absolute;
    right: -60px;
    top: 130%;
    left: 0px;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 1;
    font-size: 15px;
    color: #1b1b1b;
    margin: 0 auto;
    text-transform: capitalize;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background-color: #8eb50b;
    color: #ffffff;
}